# Node/npm
.npm/
.cache/
node_modules/

# Shell
.bash_history

# Editor
.viminfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Project specific
.env
build/
